/* Para declararmos as variáveis usamos o seletor root*/
:root{
    /* Declaramos as variáveis */
    --bg-color: blue;
    --cor-do-texto: #fff;
    --espacamento: 20px;
    --margem: 20px;
}

#primeiroParagrafo{
    /* Usando as variáveis */
    background-color: var(--bg-color);
    color: var(--cor-do-texto);
    padding: var(--espacamento);
    margin: var(--margem);
}


#segundoParagrafo{
    /* Usando as variáveis */
    background-color: var(--bg-color);
    color: var(--cor-do-texto);
    padding: var(--espacamento);
    margin: var(--margem);
}

#terceiroParagrafo{
    /* Usando as variáveis */
    background-color: var(--bg-color);
    color: var(--cor-do-texto);
    padding: var(--espacamento);
    margin: var(--margem);
}

*{
    background-color: rgba(0, 0, 255, 0.507);
}